/* .pageinner_data{
    padding-left: 15px;
    padding-top: 30px;
} */
.home-page-inner{
    padding: 24px 0px;
    background-color: #FFF9FB;
    margin-bottom: 60px;
    padding-left: 10px;
    
}
.home-page-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.home-page-title{
    font-size: 23px;
    font-weight: 600;
    color: #444444;
    line-height: 30px
}

.breadcrumbs{
    list-style: none;
    display: inline;
    width: auto;
    border-left: 1px solid #efefef;
    margin-left: 25px;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    color: #575962;
    font-size: 13px;
    
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs .nav-separator li {
    padding-left: 10px;
}
.nav-separator{
    padding-left: 10px;
    padding-right: 10px;
}

.home-card{
    background-color:#ffffff;
    box-shadow: 2px 6px 15px 0px rgba(69,65,68,0.05);
    border-radius: 5px;
}
.home-card-header{
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #ebecec !important;
}

.home-card-title{
    margin: 0;
    color: #575962;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}
.home-card-body{
    padding: 1.25rem;
}
/* .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */


#select-text{
    width: 200px;
    padding: 5px;
    margin-top: 18px;
    

}
/* .line{
    border-bottom: 1px solid #ebecec !important;
} */


.text-hero {
 color: #FFAD46;
 font-size: 1.1625rem;
 font-family: 'Lato', sans-serif;
}
/* .border-hero {
    color: 1px solid #dee2e6!important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
} */

/* .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
.form-group{
    margin-bottom: 0;
    padding: 10px;
}
.form-group label{
    margin-bottom: 0.5rem;
    /* font-weight: 600; */
    white-space: nowrap;
    color: #495057;
}
.form-group label strong{
    font-weight: 600;
}
.form-control{
    margin-top: 10px;
    font-size: 14px;
    border-color: #ebedf2
}
.home-image{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: auto;
    max-width: 400px;
}
.image1{
    padding-left: 20px;
}

.show-image .image-cross-btn{
    /* position: absolute; */
    top: -15px;
    right: -18px;
    border-radius: 50px;
    margin-bottom: 280px;
    margin-left: -24px;
}

.form-group{
    margin-bottom: 0;
    padding: 10px;
}
.form-group label{
    margin-bottom: 0.5rem;
    /* font-weight: 600; */
    white-space: nowrap;
    color: #495057;
}
.form-group label strong{
    font-weight: 600;
}
.form-control{
    margin-top: 10px;
}
.pr-0{
    padding-right: 0!important;
}

textarea.form-control {
    height: auto;
}

.home-card-footer{
    line-height: 30px;
    border-top: 1px solid #ebecec ;
    font-size: 13px;
    padding: 0.75rem 1.25rem;
}
.btn-center{
    text-align: center;
}
.btn-success{
    background: #31CE36 !important;
    border-color: #31CE36 !important;
    padding: 0.65rem 1.4rem;
    font-size: 14px;
    opacity: 1;
    border-radius: 3px;
}

/* responsive */
/* @media screen and (max-width: 768px){
    .home-page-header{      
        flex-direction: column;
        align-items: normal;
        position: relative;
        min-height: 43px;
        justify-content: center;
        margin-left: 0px;
       
        }
    } 
    
    @media screen and (max-width: 768px){
        .breadcrumbs{ 
            margin-left: 0px;
            padding-top: 15px;
            padding-left: 5px;
            padding-bottom: 0px;
            border-left: 0px;
        }
    } */

