.page_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.table_ul{
    list-style: none;
    display: flex;
    width: auto;
    border-left: 1px solid #efefef;
    margin-left: 25px;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
}
.table_ul li{
    display: inline-block;
    padding-left: 10px;
}


.table_ul li .seprator_data{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.home_datas a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.home_font a i{
    color: black;
}

.table_card{
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 6px 15px 0px rgb(69 65 78 / 10%);
    -moz-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
    box-shadow: 2px 6px 15px 0px rgb(69 65 78 / 10%);
    border: 0px;
}

.table_header{
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #ebecec !important;
}

.table_title{
    margin: 0;
    color: #575962;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}

.float-right{
    float: right;
}


.tatabaseTableLenght{
    display: flex;
    justify-content: left;
}

.tatabaseTableLenght h6{
    margin-top: 8px;
    margin-right: 5px;
}

#shri_table{
    clear: both;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

.table_footer {
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-top: 1px solid #ebecec !important;
    display: flex;
    justify-content: center;
}