.favicon-page-inner{
    padding: 24px 32px;
    background-color: #FFF9FB;
    margin-bottom: 60px;
    
}
.favicon-page-header{ 
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.favicon-page-title{
    font-size: 23px;
    font-weight: 600;
    color: #444444;
    line-height: 30px
}
.breadcrumbs{
    list-style: none;
    display: inline;
    width: auto;
    border-left: 1px solid #efefef;
    margin-left: 25px;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    color: #575962;
    font-size: 13px;
    
}
.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs .nav-separator li {
    padding-left: 10px;
}

.favicon-card{
    background-color:#ffffff;
    box-shadow: 2px 6px 15px 0px rgba(69,65,68,0.05);
    border-radius: 5px;
}
.favicon-card-header{
    padding: 1rem 1.25rem;
    background-color: transparent;
    border-bottom: 1px solid #ebecec !important;
}

.favicon-card-title{
    margin: 0;
    color: #575962;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}
.favicon-card-body{
    padding: 1.25rem;
}

/* res[onsive */
@media screen and (max-width: 768px){
    .favicon-page-header{      
        flex-direction: column;
        align-items: normal;
        position: relative;
        min-height: 43px;
        justify-content: center;
        margin-left: 0px;
       
        }
    } 
    
    @media screen and (max-width: 768px){
        .breadcrumbs{ 
            margin-left: 0px;
            padding-top: 15px;
            padding-left: 5px;
            padding-bottom: 0px;
            border-left: 0px;
        }
    }